@import url('font.css');
/* @import url('/svg/bg.html'); */
:root {
    --animate-duration: 2000ms;
    --animate-delay: 2s;
    --primary:  #b0d7da;
    --secondary:#b0d7da;
    --third: #000;
  }

*{
    font-family: spaceGrotesk;
    /* overflow-x: hidden; */
    color: #141d2e;
}

body{
    background: url('/icons/Logos/bg-22.gif') no-repeat center center fixed;
    background-size: cover;
    /* color: #101820; */
    /* color: #1391919; */
    /* background: #cbe2b0; */
    /* background: radial-gradient(circle at center, #fff, #fee715 50%); */
    /* background: radial-gradient(circle at 30% 50%, white 30%, yellow 75%, yellow 75%); */
    /* background-repeat: no-repeat; */
    overflow-x: hidden;
}

.top{
    /* position:absolute; */
    /* top:0; */
    width:100%;
    /* color:#fff; */
    /* background: radial-gradient(circle at center, #fff 10%, var(--primary) 30%); */
    /* background: url('/icons/Logos/bg-22.gif') no-repeat center center fixed; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;
    font-size: 1.2em;
    height: 92vh; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto 0;
}
.cont{
    margin:auto;
}
.top h1{
    font-weight: 800px;
    font-size: 4.5em;
    line-height: 1.12;
}
.top h3{
    font-weight: 500px;
    font-size: 2em;
    line-height: 1.2;
    margin:auto;
}
.top img{
    width: 45vh;
    height: 45vh;
    border-radius: 50% 50%;
    /* box-shadow: 0px 3px 35px rgba(60, 59, 59, 0.5); */
}
.intro{
    height:auto;
    background: #ffba5a;
    /* color: var(--third); */
    width: 100%;
    margin: auto;
    position: relative;
    box-shadow: 0px 3px 35px rgba(60, 59, 59, 0.3);
}
.projects .row{
    background: #bac964; 
    height:auto;
}

/* .intro:before{
    z-index:3;
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    background:var(--primary);
    transform: skewY(7deg);
}
.intro:after{
    z-index:3;
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 0;
    background:var(--primary);
    transform: skewY(-7deg);
} */
.intro img{
    margin: 70px auto;
    height: 55vh;
}
.my-img{
    z-index:10;
    border-radius: 5%;
    height: 250px;
}
.navbar-brand{
    width: 65px;
    z-index: 9;
}
.navbar-brand img{
    width: 65px;
}
.aboutme{
    text-align: center;
    margin:auto;
    padding: auto;
    /* height:500px; */
}
.projects{
    /* background: var(--primary); */
    /* width:175px; */
    position: relative;
}

.projects .card{
    margin:auto;
    padding:auto;
    /* border-radius: 5%; */
    box-shadow: 0px 3px 35px rgba(60, 59, 59, 0.3);
    /* background: var(--primary); */
    /* color: var(--third); */
}
.projects .card:hover{
    box-shadow: none;
    transition: 0.7s ease-in-out;
}


.projects li{
    /* background: var(--secondary);
    color: var(--third); */
}

.project-divider{
    padding: 0;
    margin: 0;
    width: 17.7em;
    border-bottom: 0.2px solid var(--third);
    /* box-shadow: 0px 0px 2px 2px var(--third); */
}

.contact{
    /* margin-top:100px; */
    /* padding: 30px 50px 60px; */
    /* margin-top:100px; */
    /* background: var(--primary); */
    /* background-size: 200pkx 200px; */
    /* border:10px solid beige; */
    height: 450px;
}
.partial{
    bottom:-15px;
    font-size:4rem;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: -0.02em;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing:border-box;
    margin: 16px 0;
    border:0;
    padding: 20px 40px;
    outline: none;
    background: var(--secondary);
    /* color: var(--third); */
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px var(--secondary);
}
textarea.contact-form-text{
    resize:none;
    height:120px;
}
.contact-form-btn{
    float:right;
    border:1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    padding: 12px 50px;
    cursor: pointer; 
    /* box-shadow: 0 0 10px 4px var(--secondary); */
    background: linear-gradient(to right, var(--secondary), var(--secondary));
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s 0s;
}
.contact-form-btn:hover{
    /* background: var(--secondary); */
    color:var(--third);
     /* transition: 0.5s; */
     background-size:100% 100%;
}

nav{
    /* width:100%; */
    width:100%;
    margin: 0;
    padding:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: var(--primary);
    z-index: 15;
    position:fixed;
}
.nav-links{
    margin:0px;
    display:flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color:#141d2e;
}
.nav-links li{
    list-style: none;
}
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    /* background-color: #101820; */
    margin: 5px;
    transition: all 0.3s ease

}

@media screen and (max-width: 1250px) { 
    .nav-links{
        width: 50%;
    }
    .top img{
        width: 250px;
        height:250px;
    }
    .intro img{
        height: 47vh;
    }
}


@media screen and (max-width: 767.98px) { 
    body{
        overflow-x: hidden;
    }
    nav{
        /* position: sticky; */
        width:100%;
        /* top: 0; */
        /* width: 100%; */
        /* margin: 0;
        padding:0; */
    }
    .nav-links{
        position: absolute;
        right:0px;
        height:30vh;
        top:8vh;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .nav-links li{
        opacity: 0;
    }
    .intro, .projects .row, .contact{
        width:90%;
        margin:auto;

    }
    .burger{
        display:block;
        z-index: 9;
    }
    .top{
        padding-top:70px;
    }
    .top img{
        width: 250px;
        height:250px;
    }
    .intro:before{
        height: 0px;
        transform: skewY(0deg);
    }
    .intro:after{
        height: 0px;
        transform: skewY(0deg);
    }
    .intro img{
        height: 35vh;
    }


}

@keyframes navLinkFade{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-active{
    transform: translateY(0%);

}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}