@import url('font.css');
/* @import url('/svg/bg.html'); */
:root {
    --animate-duration: 2000ms;
    --animate-delay: 2s;
    --primary:  #F03861;
    --secondary:#141829;
    --third: #fff;
  }

*{
    font-family: spaceGrotesk;
    /* overflow-x: hidden; */
    /* color: #fff; */

}

body{
    color: #101820;
    /* color: #191919; */
    /* background: url('/svg/bg.html'); */
    /* background: radial-gradient(circle at center, #fff, #fee715 50%); */
    /* background: radial-gradient(circle at 30% 50%, white 30%, yellow 75%, yellow 75%); */
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.top{
    /* position:absolute; */
    /* top:0; */
    width:100%;
    color:#fff;
    /* background: radial-gradient(circle at center, #fff 10%, var(--primary) 30%); */
    background: url('/icons/Logos/bg-2.gif');
    /* background-repeat: no-repeat; */
    background-size: cover;
    text-align: center;
    font-size: 1.2em;
    height: 400px; 
}
.top h1{
    padding-top: 100px;
    font-weight: semi-bold;
    font-size: 4em;
    line-height: 1.12;
    text-align: center
}
.top h3{
    font-weight: semi-bold;
    font-size: 2em;
    line-height: 1.2;
    margin:auto;
}
.intro{
    height:500px;
    background: var(--secondary);
    color: var(--third);
    /* width: 400px; */
    position: relative;
}

.intro:before{
    content:'';
    width: 50.3%;
    height: 53px;
    position: absolute;
    top: -28px;
    left: 0;
    background:var(--primary);
    transform: skewY(4deg);
}
.intro:after{
    content:'';
    width: 50.3%;
    height: 53px;
    position: absolute;
    top: -28px;
    right: 0;
    background:var(--primary);
    transform: skewY(-4deg);
}
.intro img{
    width: 250px;
    height: 250px;
    border-radius: 50% 50%;
}
.navbar{
    background:var(--primary);
}

#mainNavbar .nav-link{
    font-size:1rem;
    font-weight: 100;
    color:#000;
    margin:0px 5px;
    
}
#mainNavbar .nav-link:hover{
    color:var(--secondary);
}
#mainNavbar .b:hover{
    border-bottom:2px solid var(--secondary); 
}
#mainNavbar .b:active{
    border-bottom:2px solid var(--secondary);
}
.navbar.scrolled{
    /* background: var(--primary);
    transition: background 1s; */
    border-bottom: 1px solid var(--secondary);
}
.navbar-brand{
    width: 65px;
    z-index: 9;
}
.navbar-brand img{
    width: 65px;
}
.aboutme{
    text-align: center;
    margin:auto;
    padding: auto;
    /* height:500px; */
}
.projects{
    /* background: var(--primary); */
    /* width:175px; */
    position: relative;
}
.projects:before{
    content:'';
    width: 50.3%;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 0;
    background:var(--primary);
    transform: skewY(-4deg);
}
.projects:after{
    content:'';
    width: 50.3%;
    height: 50px;
    position: absolute;
    top: -25px;
    right: 0;
    background:var(--primary);
    transform: skewY(4deg);
}

.projects .card{
    margin:auto;
    padding:auto;
    border-radius: 5%;
    box-shadow: 0px 10px 12px rgba(0,0,0, 0.7);
    background: var(--secondary);
    color: var(--third);
}

.projects li{
    background: var(--secondary);
    color: var(--third);
}

.project-divider{
    padding: 0;
    margin: 0;
    width: 17.7em;
    /* border-bottom: 0.2px solid var(--third); */
    box-shadow: 0 1px 2px var(--third);
}

.contact{
    margin:100px;
    /* background-image: url('/icons/Logos/0.75x/Background2ldpi.png'); */
    /* background-size: 200pkx 200px; */
    padding: 0px;
    height: 450px;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing:border-box;
    margin: 16px 0;
    border:0;
    padding: 20px 40px;
    outline: none;
    background: var(--secondary);
    color: var(--third);
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px var(--secondary);
}
textarea.contact-form-text{
    resize:none;
    height:120px;
}
.contact-form-btn{
    float:right;
    border:1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    padding: 12px 50px;
    cursor: pointer; 
    /* box-shadow: 0 0 10px 4px var(--secondary); */
    background: linear-gradient(to right, var(--secondary), var(--secondary));
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s 0s;
}
.contact-form-btn:hover{
    /* background: var(--secondary); */
    color:var(--third);
     /* transition: 0.5s; */
     background-size:100% 100%;
}

nav{
    /* width:100%; */
    margin: 0;
    padding:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #F03861;
    z-index: 9;
    position:sticky;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color:#000;
}
.nav-links li{
    list-style: none;
}
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #101820;
    margin: 5px;
    transition: all 0.3s ease

}




@media screen and (max-width: 767.98px) { 
    body{
        overflow-x: hidden;
    }
    nav{
        position: sticky;
        /* top: 0; */
        /* width: 100%; */
        /* margin: 0;
        padding:0; */
    }
    .nav-links{
        position: absolute;
        right:0px;
        height:30vh;
        top:8vh;
        background-color: #F03861;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display:block;
        z-index: 9;
    }
    .intro:before{
        height: 0px;
        transform: skewY(0deg);
    }
    .intro:after{
        height: 0px;
        transform: skewY(0deg);
    }
    .projects:before{
        height: 0px;
        transform: skewY(0deg);
    }
    .projects:after{
        height: 0px;
        transform: skewY(0deg);
    }
    #mainNavbar .b:hover{
        border-bottom:2px solid var(--secondary); 
    }

}

@keyframes navLinkFade{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-active{
    transform: translateY(0%);
    left:0;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}