@import url('font.css');
:root {
    --animate-duration: 2000ms;
    --animate-delay: 0.5s;
    --primary: #fdee67;
    --secondary: #101820;
    --third: #dfe2db;
  }

*{
    font-family: spaceGrotesk;
}

body{
    color: #101820;
    /* color: #191919; */
    background: var(--primary);
    /* background: radial-gradient(circle at center, #fff, #fee715 50%); */
    /* background: radial-gradient(circle at 30% 50%, white 30%, yellow 75%, yellow 75%); */
    background-repeat: no-repeat;
}
.top{
    margin-top:69px;
    background: radial-gradient(circle at center, #fff, var(--primary) 35%);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2em;
    height: 350px; 
}
.top h1{
    font-weight: semi-bold;
    font-size: 4em;
    line-height: 1.12;
    text-align: center
}
.top h3{
    font-weight: semi-bold;
    font-size: 2em;
    line-height: 1.2;
    margin:auto;
}
.intro{
    height:500px;
    background: var(--secondary);
    color: var(--third);
    /* width: 400px; */
    position: relative;
}

.intro:before{
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background:var(--primary);
    transform: skewY(8deg);
}
.intro:after{
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background:var(--primary);
    transform: skewY(-8deg);
}
.navbar{
    background:var(--primary);
}

#mainNavbar .nav-link{
    font-size:1rem;
    font-weight: 100;
    color:var(--secondary);
    margin:0px 5px;
    
}
#mainNavbar .nav-link:hover{
    color:var(--secondary);
}
#mainNavbar .b:hover{
    border-bottom:2px solid var(--secondary);
    
}
#mainNavbar .b:active{
    border-bottom:2px solid var(--secondary);
}
.navbar.scrolled{
    background: var(--primary);
    transition: background 1s;
}
.navbar-brand img{
    width: 65px;
}
.aboutme{
    text-align: center;
    margin:auto;
    /* height:500px; */
}
.projects{
    background: var(--primary);
    /* width:175px; */
    position: relative;
}
.projects:before{
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background:var(--primary);
    transform: skewY(-8deg);
}
.projects:after{
    content:'';
    width: 50.3%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background:var(--primary);
    transform: skewY(8deg);
}